.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: lightseagreen;
  height: 500px;
  width: 400px;
}

.numberSectionHousing {
  display: flex;
}

.numberSection {
  background-color: red;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operationSection {
  background-color: green;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keypadSection {
  background-color: lightcoral;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individualNumbers {
  background-color: orange;
  height: 70px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertialOperations {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.squareNumbers {
  display: flex;
  flex-wrap: wrap;
}

.actionButton {
  background-color: darkcyan;
  padding: 25px;
  margin: 10px;
  width: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
